<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
   <html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.w3.org/MarkUp/SCHEMA/xhtml11.xsd"
   xml:lang="en">

   <head>
      <title>Materias - Sistema de inscripciones</title>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
      <meta name="author" content="German Guzelj, Leandro Masello" />
      <meta name="keywords" content="subjects, academic, programming, it, inscriptions" />
      <link rel="stylesheet" type="text/css" href="style.css" />
   </head>

   <body>
     <h1>Materias</h1>
     <p>aqui podra ver las materias que estaran disponibles el proximo
       cuatrimestre bla bla bla bla bla.</p>

   </body>
</html>
